
<nav class="navbar navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
  <a class="navbar-brand" href="#"><h1>Welcome to Waiter Web-App</h1></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Back <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>



<div class="container" align="center">
  <br>
  <!-- <div class="list" align="center">
    <ul>
            <li class="day">Sunday</li>
            <li class="day">Monday</li>
            <li class="day">Tuesday</li>
            <li class="day">Wednesday</li>
            <li class="day">Thursday</li>
            <li class="day">Friday</li>
            <li class="day">Saturday</li>
</ul>
  </div> -->

  <table class="table table-bordered">
      <thead>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </thead>
      <tbody>
        <td class="week">{{#each Monday}}

          <li class="list">{{this}}</li>

        {{/each}}</td>
        <td class="week">{{#each Tuesday}}

          <li class="list">{{this}}</li>

        {{/each}}</td>
        <td class="week">{{#each Wednesday}}

          <li class="list">{{this}}</li>

        {{/each}}</td>
        <td class="week">{{#each Thursday}}

          <li class="list">{{this}}</li>

        {{/each}}</td>
        <td class="week">{{#each Friday}}

          <li class="list">{{this}}</li>

        {{/each}}</td>
        <td class = "week">{{#each Saturday}}

          <li class="list">{{this}}</li>

        {{/each}}</td>
        <td class="week">{{#each Sunday}}

          <li class="list">{{this}}</li>

        {{/each}}</td>
        <!-- {{#each Tuesday}}
        <tr>
          <td>{{this}}</td>
        </tr>
        {{/each}} -->
        <!-- <td>{{#each days}}<li>{{dayName}}{{/each}}</td> -->
      </tbody>
    </table>



  <a href="/reset" style="text-decoration:none"><input type="button" name="" value="Reset Names"></a>

  <!-- <table class="table table-bordered">
      <thead>
        <th>Monday</th>
        <th>Tuesday</th>
      </thead>
      {{#each Admin}}
      <tbody>
        <td>{{waiter_name}}</td>
        <td>{{waiter_name}}</td>
      </tbody>
      {{/each}}
    </table> -->
</div>
