<nav class="navbar navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
  <a class="navbar-brand" href="#"><h1>Welcome to Waiter Web-App</h1></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Back <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>
<h1 align="center">Color Keys</h1>
<div align="center" class="keys">
  <div class="col-sm-4 bg-{{oV}}">
    Over three Subscribed
  </div>
  <div class="col-sm-4 bg-{{nO}}">
  Three Waiters Subscribed
  </div>
  <div class="col-sm-4 bg-{{uN}}">
    Under three Waiters Subscribed
  </div><br>
  <div class="col-sm-4">
    <a href="/reset"  align="center" style="text-decoration:none"><input align="center" class="btn btn-secondary" type = "submit" name="" value="Reset Names"></a>
  </div>
</div>
<br>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <th class="bg-{{mThead}}">Monday ({{m}})</th>
      <th class="bg-{{tThead}}">Tuesday ({{t}})</th>
      <th class="bg-{{wThead}}">Wednesday ({{w}})</th>
      <th class="bg-{{thThead}}">Thursday ({{th}})</th>
      <th class="bg-{{fThead}}">Friday ({{f}})</th>
      <th class="bg-{{sThead}}">Saturday ({{s}})</th>
      <th class="bg-{{suThead}}">Sunday ({{su}})</th>
      <tbody>
        {{#each days}}
          <td>
            {{#each this}}
              <li>{{this.waiter_name}}</li>
            {{/each}}
          </td>
        {{/each}}
      </tbody>
  </table>
</div>
