<nav class="navbar navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
  <a class="navbar-brand" href="#"><h1>Welcome to Waiter Web-App</h1></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Back <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>
<br>
<h1>{{msg}}</h1> <br>
<h1 align= "center">{{select}}</h1>
<h1 align= "center">{{#each previousDays}}
  <li>{{this}}</li>
{{/each}}</h1> <br>
<h1 align= "center">{{update}}</h1><br>
<div align="center" class="">

  <form class="form-control" action="/waiters/{{waiterName}}" method="post">

    <span>
<label for="day" class="btn btn-outline-secondary">
  <label class="btn btn-outline-info">
    <input type="checkbox" name="day" value="Monday"  > Monday
  </label>
  <label class="btn btn-outline-info">
    <input type="checkbox" name="day" value="Tuesday" > Tuesday
</label>
<label class="btn btn-outline-info">
  <input type="checkbox" name="day" value="Wednesday" > Wednesday
</label>
<label class="btn btn-outline-info">
  <input type="checkbox" name="day" value="Thursday" > Thursday
</label>
<label class="btn btn-outline-info">
  <input type="checkbox" name="day" value="Friday" > Friday
</label>
<label class="btn btn-outline-info">
  <input type="checkbox" name="day" value="Saturday" > Saturday
</label>
<label class="btn btn-outline-info">
  <input type="checkbox" name="day" value="Sunday" > Sunday
</label>
<input type="submit" class="btn btn-success" name="butt" value="Submit"> </span>
    </label>

    <!-- <input type="checkbox" name="day" value="Monday">Monday
<input type="checkbox" name="day" value="Tuesday">Tuesday
<input type="checkbox" name="day" value="Wednesday">Wednesday
<input type="checkbox" name="day" value="Thursday">Thursday
<input type="checkbox" name="day" value="Friday">Friday
<input type="checkbox" name="day" value="Saturday">Saturday
<input type="checkbox" name="day" value="Sunday">Sunday -->


  </form>
  <br>
  <h1>{{Data}}</h1><br>
  {{#each WaiteData}}
    {{waiter_name}}
    <li>{{this}}</li>
  {{/each}}
  <h1>{{messages.error}}</h1>
</div>
